<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        This permission is for older Android versions (API 28 and below) to save files.
        It is the standard way to show permission handling for many college-level projects.
    -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookNM"
        tools:targetApi="31">

        <!--
            LAUNCHER Activity: This is the first screen of the app.
            It MUST have android:exported="true" because it has an intent-filter.
        -->
        <activity
            android:name=".LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            All other activities are launched from within the app, not by the OS directly.
            For security and to prevent manifest merger errors, they have android:exported="false".
        -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".BookingSlipActivity"
            android:exported="false" />
        <activity
            android:name=".MyBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".AddVenueActivity"
            android:exported="false" />
        <activity
            android:name=".ViewBookingsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminBookingDetailsActivity"
            android:exported="false" />
            
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="About BookNM" />

    </application>

</manifest>
